@model IEnumerable<AirPort.Models.Entities.Booking>

@{
    ViewData["Title"] = "GetBooking";
}

<h1>GetBooking</h1>

<p>
    <a asp-action="AddBooknig" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passenger)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.FlightId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passenger.PassengerID)
            </td>
            <td>
                <a asp-action="EditBooking" asp-route-id="@item.BookingID" class="btn btn-outline-dark">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingID">Details</a> |
                <a asp-action="RemoveBooking" asp-route-id="@item.BookingID" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
